{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-clean-order/error",
    "stylelint-config-css-modules"
  ],
  "ignoreFiles": ["dist/**/*", "node_modules/**/*"],
  "plugins": ["stylelint-prettier"],
  "rules": {
    "declaration-property-value-no-unknown": true,
    "selector-class-pattern": "",
    "keyframes-name-pattern": null,
    "prettier/prettier": true
  }
}
