.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.user {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
